{% extends 'base.html.twig' %}

{% block title %}TAG{% endblock %}

{% block body %}
{{ include('nav.html.twig') }}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Conditions d'utilisation</div>
    </div>
</header>

<div style="text-align: center;">Ici, Conditions d'utilisation</div>

{{ include('footer.html.twig') }}
{% endblock %}