{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contactez-nous</h2>
                <h3 class="section-subheading text-muted">Renseignements et demandes d'inscription</h3>
            </div>

            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <div id="feedback-form">form will be placed in here</div>

            <script id="zammad_form_script" src="https://support.aymeric.tech/assets/form/form.js"></script>

            <script>
                $(function() {
                    $('#feedback-form').ZammadForm({
                        messageTitle: 'Formulaire de Commentaire',
                        messageSubmit: 'Envoyer',
                        messageThankYou: 'Merci pour votre requête  (#%s) ! Nous vous recontacterons dans les meilleurs délais.',
                        noCSS: true
                    });
                });
            </script>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('inscription') }}
{% endblock %}